*{
    background-image: url("./Task1/Background.png");

}
.body-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5%;
    margin: 5%;
}
.header{
    padding: 1%;
    margin: 0;
}
.topic{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: turquoise;
}
.text{
    display: flexbox;
    flex-direction: column;
    color: white;
}
ion-icon{
    color: white;
}